
*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: #1b2437 ;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 25px;
  font-family: Bahnschrift;

}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:whitesmoke;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: whitesmoke;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}
.landing{
  background: whitesmoke ;
  color: #1b2437;
  height: 100%;
  width: 100%;
  position: fixed;
}
.Center {
  width:360px;
  height:510px;
  /* position: fixed; */
  /* background-color: #1b2437; */
  /* top: 25%;
  left: 25%; */
  margin-top: 1%;
  margin-left: 50%;
  /* padding-left: 270px; */
  /* padding: 70px; */
  /* border: 2px solid #F5FFFA; */
  border-radius: 17px;
}
.box {
  padding: 160px;
}
.background-image {
  background-repeat: no-repeat;
  /* background-size: contain; */
  /* height: 4px;
  width: 4px; */
  display: block;
  margin: 0;
  height: 100px;
  width: 100px;
}